@model Usuario
@{
    ViewData["Title"] = "Registro";
}

<div class="text-center">
    <h1 class="display-4" style="color: #6f4a31;">
        Regístrate
    </h1>
    <div style="margin-top: 20px; border-top: 1px solid #6f4a31; padding-top: 10px;"></div>
</div>
<div class="card">
    <div class="card-body">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Contrasena" class="form-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>

            <button class="btn-primary btn">Regístrate</button>
            <a class="btn btn-success" asp-controller="Usuario" asp-action="Login">Ya estoy registrado</a>

        </form>
    </div>
</div>

