<div class="container mt-2">
  <div class="container">
    <div class="p-5 mb-4 bg-dark rounded-3 text-white">
      <div class="container-fluid py-2">
        <h1 class="display-4 fw-bold text-center">
          <img
            style="height: 2em"
            src="/assets/images/logotypes/tienda.png"
          />
        </h1>
        <h3 class="lead my-3 text-center text-light">
          Tienda Online Rafhergom
        </h3>
        <p class="lead mb-0">
          Bienvenido al portal de mi tienda digital donde encontrarás,
                          todo tipo de productos.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="h-100 p-4 text-white bg-dark rounded-3 shadow-sm">
          <div class="row no-gutters flex-md-row">
            <div class="col-9 p-4 d-flex flex-column position-static">
              <h3 class="mb-0 text-light">Categorias</h3>
              <p class="card-text mb-2">
                Diferentes productos organizados por categorias
              </p>
              <a href="https://localhost:4200/admin" class="btn btn-outline-light"
                >CATEGORIAS</a
              >
            </div>
            <div class="col-3 bg-dark d-none d-lg-block text-center">
              <mat-icon style="font-size: 8em"></mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" >
        <div class="h-100 p-4 bg-light border rounded-3 shadow-sm">
          <div class="row no-gutters flex-md-row">
            <div class="col-9 p-4 d-flex flex-column position-static">
              <h3 class="mb-0">Gestión de usuarios</h3>
              <p class="mb-auto">Esto solo debe verlo el ADMIN.</p>
              <a
                href="https://formio.github.io/formio.js/"
                class="btn btn-outline-dark"
                >GESTIÓN DE USUARIOS</a
              >
            </div>
            <div class="col-3 d-none d-lg-block text-center">
              <i class="bi bi-person-plus" style="font-size: 8em"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
