<div class="offcanvas offcanvas-start" tabindex="-1" id="barraOffcanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-center">
           
            <img style="width:100px;"
                     src="~/images/letras_marron.JPG" alt="NeoEats" />
            
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Inicio</a>
        </div>
        
                @using Microsoft.AspNetCore.Http
                @{
                    var nombreUsuario = Context.Session.GetString("NombreUsuario");
                    var rol = Context.Session.GetString("Rol");
                }
                @if (nombreUsuario == null )
                {
                    <div>
                        <a class="nav-link text-dark" asp-controller="Usuario" asp-action="Registro">Regístrate</a>
                    </div>
                    <div>
                        <a class="nav-link text-dark" asp-controller="Usuario" asp-action="Login">Iniciar Sesión</a>
            </div>
            
        }
        else
        {
            <div>
                <a class="nav-link text-dark" asp-controller="Pedidos" asp-action="VerPedidos">Mis pedidos</a>
            </div>
            <div>
                <a class="nav-link text-dark" asp-controller="Negocios" asp-action="DarAlta">Date alta como negocio</a>
            </div>
            if (rol == "negocio")
            {
                <div>
                    <a class="nav-link text-dark" asp-controller="Negocios" asp-action="VerNegocio">Mis pedidos</a>
                </div>
            }
            if (rol == "admin")
            {
                <div>
                    <a class="nav-link text-dark" asp-controller="Administracion" asp-action="Panel">Mis pedidos</a>
                </div>
            }
        }

        <div>
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Negocios">Restaurantes para pedir</a>
        </div>
    </div>
</div>