<div class="offcanvas offcanvas-start" tabindex="-1" id="barraOffcanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-center">
           
            <img style="width:100px;"
                     src="~/images/letras_marron.JPG" alt="NeoEats" />
            
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div> 
            Texto de ejemplo
        </div>
    </div>
</div>