.select-badge.select-pendiente,
.select-badge.select-iniciada,
.select-badge.select-cerrada,
.select-badge.select-finalizada {
  background: #e6c8c8;
  color: #602525;
}

.select-badge.select-iniciada {
  background: #e6c8c8;
  color: #602525;
}

.select-badge.select-planificada {
  background: #feedaf;
  color: #8a5340;
}

.select-badge.select-cancelada,
.select-badge.select-fueradeplazo {
  background: #ffcdd2;
  color: #c63737;
}

.select-badge.select-cancelada,
.select-badge.select-fueradeplazo {
  background: #ffcdd2;
  color: #c63737;
}

.select-badge.select-reapertura {
  background-color: #b3e5fc;
  color: #23547b;
}
