@model HomeIndexViewModel

@{
    ViewData["Title"] = "Página principal";
}
<partial name ="_BarraLateral"></partial>

<div class="text-center" >

    <h1 class="display-4" style="color: #007bff;">
        <img style="width:200px;"
             src="~/images/logo_marron.JPG" alt="NeoEats" />
    </h1>

    <p style="font-size: 18px; color: #495057;">Nuevo concepto de comidas a domicilio.</p>

    <div style="margin-top: 20px; border-top: 1px solid #007bff; padding-top: 10px;">
        
    </div>

</div>


<partial name="_SeccionNegocios" model="Model.Negocios" />
