@model IEnumerable<Negocio>

@{
    ViewData["Title"] = "Restaurantes";
}

<div class="container text-center">
    <br />
    <h1>Restaurantes</h1>
    <p>Aquí encontrarás todos los restaurantes en los que puedes hacer pedidos.</p>
</div>

<partial name="_ListadoNegocios" model="Model" />