@model IEnumerable<Negocio>

@{
    ViewData["Title"] = "Restaurantes";
}
<div class="text-center">

    <h1 class="display-4" style="color: #6f4a31;">
        <br />
        Restaurantes
       
    </h1>
    <div style="margin-top: 20px; border-top: 1px solid #6f4a31; padding-top: 10px;"></div>
</div>
<h2 class="text-center">Aquí encontrarás todos los restaurantes en los que puedes hacer pedidos.</h2>
<partial name="_ListadoNegocios" model="Model" />