<footer>
    <hr />
    <div class="container text-center">
        <address>
            <p> Tienda Rafhergom - Todo tipo de productos! </p>
            <p> Sevilla, Alcalá de Guadaira, España, 41500
                Contacto: rafhergom@alum.us.es
                <a class="nav-link" routerLink="contact" routerLinkActive="router-link-active">Tenemos Redes Sociales:</a>
            </p>
        </address>
        <ul class="nav justify-content-center">
            <li> <a href="#" target="_blank"> <img class="rounded-pill social" src="assets/images/icons/youtube.png" alt="image de youtube" /></a></li>
            <li> <a href="#" target="_blank"> <img class="rounded-pill social" src="assets/images/icons/facebook.png" alt="image de Facebook" /> </a></li>
            <li> <a href="#" target="_blank"> <img class="rounded-pill social" src="assets/images/icons/instagram.png" alt="image de Youtube" /> </a></li>
        </ul>
    </div>
</footer>
