@{
    ViewData["Title"] = "Registro";
}

<div class="text-center">
    <h1 class="display-4" style="color: #6f4a31;">
        Regístrate como negocio
    </h1>
    <div style="margin-top: 20px; border-top: 1px solid #6f4a31; padding-top: 10px;"></div>
</div>
<div class="card">
    <div class="card-body">
        <form asp-action="DarAltaNegocio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                Una vez registrado, se procederá a hacer logout para que inicies de nuevo sesión con el nuevo rol
            </div>


            <button class="btn-primary btn">Regístrate</button>

        </form>
    </div>
</div>

