@model IEnumerable<Negocio>

@{
    ViewData["Title"] = "Mis Negocios";
}
<div class="text-center">

    <h1 class="display-4" style="color: #6f4a31;">
        Mis Negocios
    </h1>
    <div style="margin-top: 20px; border-top: 1px solid #6f4a31; padding-top: 10px;"></div>
</div>
@if (Model is not null)
{
    
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Aquí puede gestionar sus negocios </h1>
        <p> Puedes dar alguno de alta pulsando el siguiente botón.</p>
        <br />
        <a class="btn btn-primary" asp-controller="Negocio" asp-action="CrearNegocio">Crear Nuevo Negocio</a>
    </div>
    <br />
    <br />
    <partial name="_ListadoNegocios" model="Model" />
}
else
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Aún no ha dado de alta ningún negocio</h1>
        <p> Puedes dar alguno de alta pulsando el siguiente botón.</p>
        <a class="btn btn-primary" asp-controller="Negocio" asp-action="CrearNegocio">Crear Nuevo Negocio</a>
    </div>
    <br />
}