@model IEnumerable<Negocio>

@{
    ViewData["Title"] = "Mis Negocios";
}

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Aquí puede gestionar sus negocios </h1>
        <p> Puedes dar alguno de alta pulsando el siguiente botón.</p>
        <a class="btn btn-primary" asp-controller="Negocio" asp-action="CrearNegocio">Crear Nuevo Negocio</a>
        <br />
    </div>

    <partial name="_ListadoNegocios" model="Model" />
}
else
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1>Aún no ha dado de alta ningún negocio</h1>
        <p> Puedes dar alguno de alta pulsando el siguiente botón.</p>
        <a class="btn btn-primary" asp-controller="Negocio" asp-action="CrearNegocio">Crear Nuevo Negocio</a>
        <br />
    </div>

}